<body>
    <mat-toolbar class="toolbar-spacer" color="primary">
        <a class="toolbar-item" id="toolbar-logo" routerLink="">
            <img src="assets/S_Logo-new.png" alt="Logo" style="height: 50px; width: 50px; border-radius: 10px; margin-top: 5px;">
        </a>
        <a class="toolbar-item" id="toolbar-home" routerLink="">Home</a>
        <a class="toolbar-item" id="toolbar-news" routerLink="/news">News</a>
        <span class="toolbar-item" id="toolbar-contact">Get in Touch</span>
      </mat-toolbar>
</body>


<router-outlet></router-outlet>