
    <body>
        <mat-toolbar class="toolbar-spacer" color="primary">
            <a class="toolbar-item" id="toolbar-logo" routerLink="">
                <img src="assets/Saif_Logo-removebg.png" alt="Logo" style="height: 50px; width: 100px; border-radius: 10px; margin-top: 5px;">
            </a>
            <a class="toolbar-item" id="toolbar-home" routerLink="">Home</a>
            <a class="toolbar-item" id="toolbar-news" routerLink="/news">News</a>
            <span class="toolbar-item" id="toolbar-contact">Get in Touch</span>
          </mat-toolbar>
    </body>
    

    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Title</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let n of news">
            <td>{{ n.id }}</td>
            <td>{{ n.date | date }}</td>
            <td>{{ n.title }}</td>
            <td>{{ n.description }}</td>
          </tr>
        </tbody>
      </table>
    
    <router-outlet></router-outlet>

