<body>

  <mat-toolbar class="example-spacer" color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <span class="center-span" style="font-size: larger;">Saif Jilani</span>

    <span class="example-spacer"></span>
    <button mat-icon-button class="home">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>photo</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>

    <button mat-raised-button color="accent">
      Get in Touch
    </button>
  </mat-toolbar>


  <div class="background-image"></div>

  <!-- Everything after the image -->
  <div class="container-space">
    <h1 id="head1">Hello, I'm Saif and welcome to my Website!</h1>

    <div class="multiple-box-container">
      <div class="box" id="box1">
        <div class="box-title" id="box-title1"><h1>Title</h1></div>
        <div class="box-contents" id="box-contents1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, alias unde tenetur dolores aspernatur obcaecati sequi suscipit reprehenderit voluptatum maxime molestias ipsam repudiandae vel soluta doloribus sapiente, libero perspiciatis odio?</div>
      </div>
        
     
      <div class="box" id="box2">
        <div class="box-title" id="box-title2"><h1>Title</h1></div>
        <div class="box-contents" id="box-contents1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet accusantium doloremque ullam beatae, id at dolore necessitatibus dicta quae hic sed laudantium quos laborum magni! Facere ab veniam est hic.</div>
      </div>
        
    </div>

    <div class="multiple-box-container">
      <div class="box" id="box3">
        <div class="box-title" id="box-title3"><h1>Title</h1></div>
        <div class="box-contents" id="box-contents1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, ipsum. Blanditiis voluptatibus unde itaque, ea, est illo aliquam, explicabo architecto dolores eveniet nulla facilis sapiente delectus sit nesciunt? Dicta, ullam!</div>
      </div>

      <div class="box" id="box4">
        <div class="box-title" id="box-title4"><h1>Title</h1></div>
        <div class="box-contents" id="box-contents1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti necessitatibus exercitationem hic eos ut, autem eligendi, molestias tempora voluptates, corporis deserunt! Assumenda, earum repellendus. Voluptatibus quos quibusdam expedita facilis similique!</div>
      </div>

    </div>
  </div>
</body>