<body>
  <mat-toolbar class="example-spacer">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    
    <span class="center-span">Saif Jilani</span>

    <span class="example-spacer"></span>
    <button mat-icon-button class="home" aria-label="Example icon-button with share icon">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>photo</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

    <button mat-button class="home" aria-label="Example icon-button with share icon" type="">
      Buy me a coffee!
    </button>
  </mat-toolbar>
</body>

