<body>
  <mat-toolbar class="example-spacer" color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    
    <span class="center-span" style="font-size: larger;">Saif Jilani</span>

    <span class="example-spacer"></span>
    <button mat-icon-button class="home" >
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button >
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>photo</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>

    <button mat-raised-button color="accent">
      Get in Touch
    </button>
  </mat-toolbar>


  <div>
    <h1  id="head1">Stay tuned, next part coming soon!!</h1>
  </div>
</body>

